body{
    background-color: white;
    margin: 0px;
}
h1{
    font-size: 90px;
    text-align: center;
    color: darkred;
}
li{
    text-decoration: none;
    color: black;
    background-color: rgb(4, 190, 247);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: auto;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
}
p{
    
    color: black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: auto;
    font-weight: bold;
    font-size: 45px;
    width: 100%;
}

.highlight{
    background-color: rgb(209, 140, 13);
}
a{
    color: black;
    font-family: monospace;
    font-size: 35px;
    text-decoration: none;
}
div{
    float: left;
}